html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
}

core-scaffold {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  background-color: #fff;
}

#canvas {
  padding: 20px;
}

core-scaffold[mode=cover] .content {
  margin: 20px 100px 20px 0;
}

core-scaffold {
  margin-bottom: 125px;
}

metrics-chart {
  width: 100%;
  margin-bottom: 2em;
}

.health-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #afa;
  height: 125px;
}

.health-panel .health-content {
  padding: 1em;
}

.health-content simple-gauge {
  float: right;
}
